.navbar {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1; /* Ensure it is above other elements */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.search input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.user {
  display: flex;
  align-items: center;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-text p {
  margin: 0;
  padding: 0 5px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Same as the height of the navbar */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}
