.vertical-nav {
  height: calc(100% - 60px); /* Adjust height based on the horizontal nav height */
  width: 300px;
  position: fixed;
  top: 60px; /* Adjust top based on the horizontal nav height */
  left: 0;
  background-color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.vertical-nav a {
  padding: 15px 0 15px 10px;

  text-decoration: none;
  font-size: 14px;
  color: black;

}
.vertical-nav p {
  color: #C6C6C6;
  padding-left: 10px;

}
.vertical-nav div {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.vertical-nav img{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}
